In [ ]:
# comments
3.4 # numeric literals

In [ ]:
7L
-5 4.5

In [ ]:
10, -3

In [ ]:
# variable
a = 3 # assign value to variable a
a

In [ ]:
m, n = 10, 20
print(m, n)

m, n = n, m
print(m, n)

In [ ]:
# var name
age = 19
age

my_age = 20
my_age

_height = 172.3
_height

_26asian = 2026 # 첫_이후에 바로 숫자 사용 가능
_26asian

In [ ]:
# 잘못된 변수
26worldcup = 2026 # 수가 맨 먼저 위치하면 에러

my.age = 21     # .은 사용하면 에러

my credits = 18    # 공백 문자 등 다른 문자 사용하면 에러