In [ ]:
n = 20
if n%2 == 0:
    print('짝수')

In [3]:
n = 21
if n%2 == 0:
    print('짝수')

In [ ]:
age = 18
if age >= 20:
    print('성인')
else:
    print('미성년자')

In [ ]:
age = 21
if age >= 20:
    print('성인')
else:
    print('미성년자')

In [ ]:
age = 18
s = '성인' if age >= 20 else '미성년자'
print(s)

In [ ]:
age = 20
s = '성인' if age >= 20 else '미성년자'
print(s)

In [ ]:
point = 92
if (90 <= point):
    print('A')
elif (80 <= point):
    print('B')
elif (70 <= point):
    print('C')
elif (60 <= point):
    print('D')
else:
    print('F')

In [ ]:
point = 62
if (90 <= point):
    print('A')
elif (80 <= point):
    print('B')
elif (70 <= point):
    print('C')
elif (60 <= point):
    print('D')
else:
    print('F')

In [ ]:
value = "apple"
match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"

print(result)

In [ ]:
value = "banana"
match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"

print(result)

In [ ]:
value = "mango"
match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"
    case _:
        result = None

print(result)